.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.product-img img {
    width: 15vw;
}

/* .product-img img:hover{
    transition: 100ms ease-in;
    
} */

.productDescription{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 2vh;
    gap: 25px;
}

.productInfo p:nth-of-type(1) {
    font-size: 15px;
}

.productInfo p:nth-of-type(2) {
    font-size: 25px;
}

.productInfo button {
    border: transparent;
    
    height: 50px;
}