.product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.product-img img {
    width: 25vw;
}

.productInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 2vh;
    gap: 25px;
}