.registerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(-135deg, #000C40, rgb(43,43,230))
}

.registerRightSide{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 550px;
    min-height: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    z-index: 1;
}

.registerRightSide h1{
    margin-bottom: 10px;
}

.submitButtonRegisterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.registerForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.submitButtonRegister{
    border: none;
    width: 90%;
    height: 30px;
    background: linear-gradient(-135deg, white, rgba(43,43,230));
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;    
    font-family: inherit;
    margin-bottom: 1vh;
}
.alreadyLoginP{
    font-size: 15px;
    width: 100%;
    margin-top: auto;
}
