.cardsAll{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 220px;
    text-align: center;
    gap: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card p:first-of-type{
    font-size: 22px;
    font-weight: bold;
}

.fontawesome{
    color: rgb(48, 48, 230);
    margin-top: 15px;
    font-size: 50px;
}



@media only screen and (min-width: 770px){
    .cardsAll{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        bottom: 40px;
        flex-wrap: wrap;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 220px;
        text-align: center;
        gap: 20px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .card p:first-of-type{
        font-size: 22px;
        font-weight: bold;
    }
    
    .fontawesome{
        color: rgb(48, 48, 230);
        margin-top: 15px;
        font-size: 50px;
    }   
}