.footerSection {
    height: 100%;
    background: linear-gradient(to left, #041e91, rgb(43,43,230));
    font-weight: bold;
}


.footerSection_flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.footerSection_common{
    font-size: 2vw;
    margin-top: 20px;
    font-size: 1vw;
}

.footerSection_flex_column_1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.footerSection_flex_column_1 img{
    width: 15vw;
}
.footerSection_flex_column_1 p{
    width: 20vw;
}

.footerSection_flex_column_4 {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.footerSection_flex_column_5 iframe{
    width: 20vw;
    height: 11vh;
}

.footerSection_flex_column_5_float_left{
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 20px;
    gap: 5px;
}

.footerSection_flex_column_5_float_left p{
    width: 200px;
}

@media (max-width:1000px){

}