.preFooterWrapper{
    margin-top: 10%;
    background-color: rgba(48, 48, 230, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
}

.preFooter_title{
    font-size: 1.5rem;
    font-weight: bold;
}

.preFooter_newsletter button{
    border-radius: 10px;
    width: 70px;
    border: transparent;
    margin-left: 5px;
}

.preFooter_newsletter label{
    font-weight: bold;
}

.preFooter_newsletter input {
    border-radius: 10px;
    border: transparent;
    margin-left: 5px;
    padding: 0 5px;
}

.preFooter_newsletter input:active {
    border: transparent;
}

.preFooter_icons{
    font-size: 150%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}