table{
    text-align: center;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 0.5%;
    border: 1px solid black;
    margin: 2% 15%;
    transition:  500ms ease-out;
    position: relative;
}

th,td{
    padding: 2% 0;
    font-size: 20px;
}

th{
    border-bottom: 1px solid black;
    padding-bottom: 3%;
}

.tableImg{
    width: 190px;
}

table:hover{
    transition: 500ms ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tableButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.wrapper h1{
    text-align: center;
    margin-top: 3.125rem;
}

.wrapper h3{
    text-align: center;
    margin-top: 1rem;
}

.wrapper h5{
    color: red;
    text-align: center;
    margin-top: 0.5rem;
}

.mobileTable{
    display: none;
}

.deliveryAddress_inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.deliveryAddress_inputs__input{
    position: relative;
    width: 250px;
}
.deliveryAddress_inputs__input input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: grey;
    font-size: 1em;
}

.deliveryAddress_inputs__input span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: grey;
    text-transform: uppercase;
    transition: 300ms ease;
}

.deliveryAddress_inputs__input input:focus ~ span, 
.deliveryAddress_inputs__input input:valid ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    letter-spacing: 0.2em;
}

.deliveryAddress_inputs__input input:focus,
.deliveryAddress_inputs__input input:valid {
    border: 1px solid black;
}

@media  (max-width: 770px) {
    .desktopTable{
        display: none;
    }
    
    table, tr,th,td{
        display: block;
        text-align: center;

    }

    table {
        border: transparent;
    }

    td {
        font-size: 1.5em;
    }

    th {
        font-size: 2em;
        padding-top: 10px;
        border-bottom: transparent;
    }

    tr {
        border: 1px solid black;
        padding-bottom: 20px;
    }
    .mobileTable{
        display: block;
        
    }

    tr img {
        width: 50%;
    }
 
}